<div class="uk-flex uk-flex-center uk-flex-middle uk-text-center uk-margin-medium-top">
    <div class="uk-margin-large-right">
        <a  href="/">
            <img src="{{asset('images/agroov_logo1.png')}}" alt="" > 
        </a>
    </div>
    <div class="uk-margin-large-left">
        <div class="uk-grid-collapse" uk-grid>
            <div>
                <div class="uk-padding-left">
                    <div uk-form-custom="target : true">
                        <input class="uk-input uk-width-medium " type="text" placeholder="Я ищу.....">
                    </div>
                </div>
            </div>
            <div ng-controller="categoryChooseController">
                <div uk-form-custom="target: > * > span:first-child" class="uk-form-custom">
                    <select ng-options="item as item.name for item in items track by item.id" ng-model="selected" ng-model="category">
                        <option value="">{%trans%}Категории{%endtrans%}</option>
                    </select>
                    <button class="uk-button uk-button-default" type="button" tabindex="-1">
                        <span></span>
                        <span uk-icon="icon: chevron-down"></span>
                    </button>
                </div>
            </div>
            <div>
                <button class="uk-button uk-button-default">
                    <span uk-icon="icon: search"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="uk-margin-large-left">
        <a href="{{path('advertise')}}" class="uk-button uk-button-primary uk-icon">
            <span class="uk-icon" uk-icon="plus"></span>
            {%trans%}Подать объявление{%endtrans%}
        </a>
    </div>
</div>
<script>
    var action_app = angular.module('agroov', []);
    var _get_category_for_user = "{{path('_get_category_for_user')}}";
    action_app.controller('categoryChooseController',function($scope,$http){
        $http.get(_get_category_for_user).then(function(result){
            $scope.items = result.data;
            console.log(result.data);
        });
    });
</script>

