<div class="uk-panel uk-padding uk-light" style="background-color:#4CAF50">
    <div class="uk-grid uk-child-width-expand@s" uk-grid>
        <div class="uk-width-2-5">
            <li class="uk-text-muted" style="font-size: 20px">{% trans %} Agroov.com{% endtrans %}</li>
            <p class="uk-margin-bottom"></p>
            <ul class="uk-nav">
                <li class="uk-text-muted">{% trans %} info@agroov.com {% endtrans %}</li>
            </ul> 
        </div>
        <div class="uk-width-expand uk-margin-top">
            <div class="uk-grid uk-child-width-expand@s">
                <div>
                    <div uk-grid>
                        <div><a href="{{path('_about_us')}}">{% trans %} О нас {% endtrans %}</a></div>
                        <div><a href="{{path('_termsofuse')}}">{% trans %} Условия использования {% endtrans %}</a></div>
                        <div><a href="{{path('_reklam')}}">{% trans %} Реклама {% endtrans %}</a></div>
                        <div><a href="#">{% trans %} Отзывы {% endtrans %}</a></div>
                        <div><a href="#">{% trans %} Наши партнеры {% endtrans %}</a></div>
                        <div><a href="https://www.instagram.com/interagroportal" uk-icon="instagram"></a></div>
                        <div><a href="" uk-icon="facebook"></a></div>
                        <div><a href="" uk-icon="google-plus"></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
