<div class="uk-panel uk-padding-large uk-background-secondary uk-light">
    <div class="uk-grid uk-child-width-expand@s" uk-grid>
        <div class="uk-width-2-5">
            <li class="uk-text-muted" style="font-size: 40px">{% trans %} Agroov.com{% endtrans %}</li>
            <li class="uk-text-muted">{% trans %} Международный агропортал {% endtrans %}</li>
            <p class="uk-margin-bottom"></p>
            <ul class="uk-nav">
                <li class="uk-text-muted">{% trans %} info@mail.agroov.com {% endtrans %}</li>
            </ul>
            <a href="" class="uk-icon-button uk-margin-top uk-margin-small-right" uk-icon="twitter"></a>
            <a href="" class="uk-icon-button uk-margin-top uk-margin-small-right" uk-icon="facebook"></a>
            <a href="" class="uk-icon-button uk-margin-top" uk-icon="google-plus"></a>
        </div>
        <div class="uk-width-expand uk-margin-large-top">
            <div class="uk-grid uk-child-width-expand@s">
                <div>
                    <ul class="uk-nav uk-nav-default">
                        <li><a href="about.html">{% trans %} О нас {% endtrans %}</a></li>
                        <li><a href="about.html">{% trans %} Контакты {% endtrans %}</a></li>
                        <li><a href="#">{% trans %} Реквизиты {% endtrans %}</a></li>
                        <li><a href="#">{% trans %} СМИ о нас {% endtrans %}</a></li>
                    </ul>
                </div>
                <div>
                    <ul class="uk-nav uk-nav-default">
                        <li><a href="publication.html">{% trans %} Блог {% endtrans %}</a></li>
                        <li><a href="reklam.html">{% trans %} Реклама {% endtrans %}</a></li>
                        <li><a href="#">{% trans %} Услуги компании {% endtrans %}</a></li>
                        <li><a href="rules.html">{% trans %} Условия использования {% endtrans %}</a></li>
                    </ul>
                </div>
                <div>
                    <ul class="uk-nav uk-nav-default">
                        <li><a href="otzyv.html">{% trans %} Отзывы {% endtrans %}</a></li>
                        <li><a href="#">{% trans %} Вакансии {% endtrans %}</a></li>
                        <li><a href="about.html">{% trans %} Наша команда {% endtrans %}</a></li>
                        <li><a href="#">{% trans %} Наши партнеры {% endtrans %}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
