<div class="uk-panel">
    <div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="ratio: 12:1; animation: push;autoplay:true;">

        <ul class="uk-slideshow-items">
            <li>
                <img src="/images/verh/1355312564_kakie-vitaminy-soderzhatsya-v-klubnike.jpg" alt="" uk-cover>
            </li>
            <li>
                <img src="/images/verh/1361930994_6a00d8341c3c3253ef00e54f32ad8d8833-640wi.jpg" alt="" uk-cover>
            </li>
            <li>
                <img src="/images/verh/1444081671_img1336427377.jpg" alt="" uk-cover>
            </li>
            <li>
                <img src="/images/verh/1506685646_b95d496a4b41e6942face3b6bcf2c341.jpg" alt="" uk-cover>
            </li>
            <li>
                <img src="/images/verh/1950.jpg" alt="" uk-cover>
            </li>
            <li>
                <img src="/images/verh/20140607074851.jpg" alt="" uk-cover>
            </li>
            <li>
                <img src="/images/verh/2033215444.jpg" alt="" uk-cover>
            </li>
            <li>
                <img src="/images/verh/215773cb7d87b2e.jpg" alt="" uk-cover>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

    </div>
</div>
