<div class="uk-panel" >
    <top-banner>
    </top-banner>
</div>
<script>
    var top_banner_url = "{{path('_top_banner')}}";
    angular.module('agroov').directive('topBanner',function($timeout){
        return {
            restrict: 'E',
            transclude: true,
            scope: true,
            templateUrl: top_banner_url,
			link: function (scope, element, attributes, controller) {
                //$timeout(function() {
                    scope.show = true;
                    //alert("READU");
                //});
            }
        }
        
    });
</script>
