<div class="uk-margin">
    <label class="uk-form-label" for="form-horizontal-text">Выбрать слой : </label>
    <div class="uk-form-controls">
        <button class="uk-button uk-button-default" type="button" tabindex="-1">
            <span>выбрать слой</span>
            <span uk-icon="icon: chevron-down"></span>
        </button>
        <div uk-dropdown="mode:click">
            <ul class="uk-nav uk-dropdown-nav">
                <li><a href="#">Пусто</a></li>
            </ul>
        </div>
    </div>
</div>
