{% extends 'base.html.twig' %}
{% set page_title = 'Agroov' %}
{% set og_title = 'Agroov' %}
{% block body %}
{% include 'header.html.twig' %}
{% include 'nav.html.twig' %}
<form method="GET" id="filter_form">
    <div id="map"></div>
</form>
<script>
    var left_banner_url = "{{path('_left_banner')}}";
    var countryUrl = "{{path('_country')}}";
    angular.module('agroov').directive('leftBanner',function(){
        return {
            templateUrl: left_banner_url
        };
    });

    $('.uk-radio').change(function(){
        $(this).prop("checked",true);
        $('#page').val(1)
        $('#filter_form').submit();
    });

    $('#country_id').change(function(){
        $('#page').val(1)
        $('#filter_form').submit();
    });

    $('#search_button').click(function(){
        $('#page').val(1)
        $('#filter_form').submit();    
    });

</script>
<script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function(event){
        var _map = document.getElementById('map');
        var width = document.documentElement.clientWidth;
        var height = document.documentElement.clientHeight;
        _map.style.width = width - 15 + "px";
        _map.style.height = height + "px";
        var map;
        DG.then(function () {
            map = DG.map('map', {
                center: [42.869460, 74.611213],
                zoom: 13,
                maxBounds: [
                ],
                minZoom : 2
            });
            var marker = DG.marker([42.869465, 74.611210]).addTo(map).bindPopup('Вы кликнули по мне!');
            var latlngs = [
                [42.869480, 74.611213],
                [42.869500, 74.611213],
                [42.869520, 74.611213],
                [42.869540, 74.611213],
                [42.869560, 74.611213],
                [42.869580, 74.611113]
            ];
            //var polyline = DG.polyline(latlngs, {color: 'red'}).addTo(map);
            //map.fitBounds(polyline.getBounds());
        });
    });
    window.addEventListener("load", function(event) {
        
        
        
        // создает ломаную красного цвета из массива точек LatLng
        /*var latlngs = [
            [45.52, 74.22],
            [45.62, 74.32],
            [45.72, 74.42]
        ];*/
        //var polyline = DG.polyline(latlngs, {color: 'blue'}).addTo(map);
        // увеличиваем масштаб так, чтобы было видно всю ломаную
        //map.fitBounds(polyline.getBounds());
    });
    
</script>
{% include 'footer.html.twig'%}
{% endblock %}
