{% extends "base.html.twig" %}
{% block title %}Администратор{% endblock %}
{% block body %}
{% include 'nav.html.twig' %}
<hr>
<div class="uk-card uk-card-default uk-card-body">
    <div class="uk-text-center" uk-grid>
        <div class="uk-width-auto@m">
            <div class="uk-card uk-card-default uk-card-body">
                {% include 'leftbar.html.twig' %} 
            </div>
        </div>
        <div class="uk-width-expand@m">
            <div class="uk-card uk-card-default uk-card-body">Admin homepage</div>
        </div>
    </div>
</div>
{% endblock %}
