{% extends "base.html.twig" %}
{% block title %}AppBundle:User:registration{% endblock %}
{% block body %}
{% include 'header.html.twig' %}
<div class="uk-container uk-width-xlarge uk-margin">
    <div class="uk-panel uk-panel-box uk-text-break">
    {% trans %}
        Задайте новый пароль для входа в аккаунт.
    {% endtrans %}
    </div>
    <div class="uk-container uk-width-xlarge uk-text-center">
        {% if error is defined %} 
            <div class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>Введенные пароли не совпадают , поробуйте ввести их занова!</p>
            </div>
        {% endif %}
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">{% trans %}Новый пароль{% endtrans %}</h2>
        </div>
        <div class="uk-modal-body">
            <form method="POST" action="{{path('_new_password',{'token':token})}}">
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input name="newpassword" class="uk-input uk-width-large" type="text" placeholder="Введите пароль">
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                        <input name="newpassword_retype" class="uk-input uk-width-large" type="text" placeholder="Введите повторно">
                    </div>
                </div>    
                <div class="uk-margin">
                    <div class="uk-inline">
                        <button class="uk-button uk-button-primary" type="submit">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% include 'footer.html.twig' %}
{% endblock %}
