{% extends "base.html.twig" %}
{% block title %}Вход в портал{% endblock %}
{% block body %}
{% include 'header.html.twig' %}
<div class="uk-container uk-width-xlarge uk-margin">
    <div class="uk-modal-header">
        <h2 class="uk-modal-title">{% trans %}Восставновление {% endtrans %}</h2>
    </div>
    <div class="uk-modal-body">
        {%trans%} Ваш пароль был отправлен на email ff {% endtrans %}
    </div>
</div>
{% include 'footer.html.twig' %}
{% endblock %}
