.uk-accordion-title::after {
    width: 1.4em;
    height: 0px;
    float: right;
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213…22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-position: 0;
}
.uk-open>.uk-accordion-title::after {
     background-image: none; 
}
.uk-accordion-content {
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.uk-accordion-title {
    font-size: 1rem;
}
.uk-accordion>:nth-child(n+2) {
    margin-top: 0px;
}

.ag-map-icon
{
    text-overflow: ellipsis;
    display: inline-flex;
    width: 128px;
    height: 48px;
    max-width:128px;
    max-height:48px;
    overflow:hidden;
}
.ag-map-icon-own
{
    border:solid 1px green;
    background:#fff;
}
.ag-map-icon-color
{
    color:green;
    font-weight:600;
}
.ag-map-icon-image-border-right
{
    border-right:solid 1px green;
}
.ag-text-white
{
    color:#fff;
}
.ag-square94
{
    width:94px;
    height:94px;
}
.ag-square176
{
    width:176px;
    height:176px;
}
.ag-square261
{
    width:261px;
    height:261px;
}

.ag-square96
{
    width:96px;
    height:96px;
    min-height:96px;
    min-width:96px;
}

.ag-square208
{
    width:208px;
    height:208px;
    min-height:208px;
    min-width:208px;
}
