{% extends "base.html.twig" %}
{% block title %}Правила пользования сайтом{% endblock %}
{% block body %}
{% include 'header.html.twig' %}
{% include 'nav.html.twig' %}
<div class="uk-card uk-card-default uk-card-body">
    <h3 class="uk-card-title">Условия пользования сайтом</h3>
    <p>
        <p>
        Настоящие условия пользования сайтом www.agroov.com (далее — «Сайт»), разработанные Международным агропорталом (далее — «Правила») устанавливают права и обязанности, прошедших процедуру регистрации участников, а также иных посетителей Сайта (далее совместно именуемые «Пользователи Сайта»).
        </p>
        <p><b> 1. Общие положения</b></p>
        <p>1.1. Сайт разработан ОсОО «Симсим Групп». Все права на Сайт принадлежат Искакову Адилету Карабаевичу, руководителю проекта «Международный агропортал», который находится по адресу: 720020, Кыргызская Республика, город Бишкек, ул. Т. Саманчина, 6 (далее — «Компания»). Сайт посвящен всем работникам агробизнеса. Настоящие Правила регулируются всеми законодательствами стран Пользователей Сайта и Правила действует во всех странах Пользователей Сайта.
        </p>

        <p>1.2. Компания рекомендует Пользователям Сайта ознакомиться с данными Правилами. Пользуясь Сайтом, Пользователи Сайта подтверждают свое согласие с положениями Правил.
        </p>
        <p><b>2. Интеллектуальные права</b></p>
        <p>2.1. Все результаты интеллектуальной деятельности, размещенные на Сайте, в том числе элементы дизайна, программы для ЭВМ, являются частью Сайта и охраняются в соответствии с законодательством Кыргызской Республики, в том числе, в соответствии с международными договорами с участием Кыргызской Республики. Указанные охраняемые объекты вместе и по отдельности составляют охраняемый контент Сайта (далее — «Контент»).</p>
    <p>2.2. Компания является правообладателем Сайта как составного произведения, а также Контента.</p>
    <p>2.3. Кроме случаев, прямо установленных настоящими Правилами, а также действующим законодательством стран Пользователей Сайта, Контент не может быть использован (в том числе, скопирован, опубликован, воспроизведен, переработан, распространен, продан или использован иным способом) по частям или полностью без согласия Компании.</p>

    <p>2.4. Цитирование текстовых материалов, опубликованных на Сайте, разрешается с обязательным указанием активной гиперссылки на www.agroov.com или на раздел Сайта с цитируемым Контентом.</p>

    <p><b>3. Регистрация на Сайте</b></p>
    <p>3.1. Контент Сайта доступен Пользователям Сайта вне зависимости от их регистрации на Сайте. Однако, для того, чтобы активно пользоваться возможностями Сайта, необходимо пройти регистрацию на Сайте.</p>

    <p>3.2. Регистрация на Сайте осуществляется Пользователями добровольно, плата за регистрацию не взимается. Регистрацию на Сайте может пройти физическое лицо, проживающее в любой точке мира.</p>

    <p>3.3. При регистрации на Сайте Пользователь должен указать необходимую достоверную и актуальную информацию, включая электронную почту, фамилию, имя, адрес места проживания, телефонный номер. Пользователь Сайта несет ответственность за достоверность, актуальность, полноту и соответствие законодательству стран Пользователей Сайта информации предоставленной при регистрации на Сайте.</p>

    <p><b>4. Персональные данные</b></p>
    <p>Общие положения</p>
    <p>4.1. Для регистрации на сайте необходимо предоставление персональных данных Пользователей Сайта (далее — «Персональные Данные»).</p>

   <p>4.2. Компания принимает все необходимые меры для защиты Персональных Данных от потери, неправильного использования, несанкционированного доступа, разглашения, изменения или уничтожения.</p>

    <p>4.3. Персональные Данные, указанные Пользователем Сайта при регистрации на Сайте, хранятся в информационной системе персональных данных сайта www.agroov.com. Если Пользователь Сайта не указал иное, Персональные Данные, указанные при подписке на новости, могут быть использованы Компанией для осуществления прямых контактов в целях информирования Пользователей Сайта о специальных предложениях, акциях, мероприятиях и т.д.</p>

   <p>4.4. Персональные Данные не будут передаваться третьим лицам, за исключением случаев, когда передача Персональных Данных будет необходима в соответствии с требованиями законодательства. Пользователь Сайта вправе, на основании запроса, направленного в Компанию в соответствии с п. 4.5., ознакомиться с информацией о его Персональных Данных, которые обрабатываются Компанией, требовать уточнения Персональных Данных или их удаления из информационной системы персональных данных Компании. Удаление Персональных Данных Пользователя Сайта влечет невозможность получения новостей от Компании. При этом доступ к персональным данным имеют третьи лица, осуществляющие поддержку служб и сервисов Компании и/ или исполняющие соответствующие задания (поручения) Компании, в необходимом для осуществления такой поддержки и/ или заданий (поручений) объеме.</p>

    <p>Безопасность</p>
    <p>4.5. Компания принимает необходимые меры для предотвращения несанкционированного доступа к персональным данным Пользователей Сайта, указанным при регистрации на Сайте.</p>

    <p>4.6. Компания не несет ответственности за действия третьих лиц (в том числе Интернет-провайдеров, обеспечивающих техническую доступность сайта в месте нахождения Пользователя), в отношении защиты каналов связи, по которым передается информация на Сайт или с Сайта, а также не гарантирует постоянную доступность Сайта и его бесперебойную работу.</p>

    <p>Использование и раскрытие информации</p>
    <p>4.7. Если не указано иное, Компания может использовать данные, собранные с помощью Сайта для улучшения содержания Сайта, для его доработки в соответствии с предпочтениями Пользователей Сайта, для обмена информацией с Пользователями Сайта (по запросу Пользователей Сайта), для маркетинговых и исследовательских целей Компании, и для любых других определенных целей. Кроме того, Компания вправе в полной мере использовать всю информацию, полученную на Сайте не в персонально идентифицированной форме.</p>

    <p><b>5. Сайты третьих лиц</b></p>
    <p>5.1. Сайт может содержать ссылки на сайты третьих лиц в сети Интернет. Компания не контролирует такие сайты, не несет ответственность за правомерность контента, размещенного на сайтах третьих лиц, в любом случае, Правила не распространяются на пользование этими веб-сайтами. Пользователям Сайта следует ознакомиться с политикой конфиденциальности и/или правилами пользования каждого посещаемого ими сайта.</p>

    <p><b>6. Права и обязанности Пользователей Сайта</b></p>
    <p>6.1. Пользователь Сайта имеет право:</p>
    <p>создавать интернет-магазины;</p>
    <p>добавлять объявления;</p>
    <p>создавать группы;</p>
    <p>участвовать в обсуждениях разных группах;</p>
    <p>создавать новостную ленту с указанием источника, ссылки и автора, при этом, не допустить повторной публикации и плагиата.</p>

    <p>6.2. При посещении Сайта и использовании его возможностей Пользователь Сайта обязан:</p>
    <p>соблюдать положения действующего законодательства стран Пользователей Сайта и настоящих Правил;</p>
    <p>предоставлять при регистрации достоверные и актуальные данные, а также следить за их своевременным обновлением (в том числе информацию относительно места жительства);</p>
    <p>возмещать убытки, понесенные Компанией, Пользователями Сайта или третьими лицами в результате нарушения Правил или законодательства стран Пользователей Сайта;</p>
    <p>соблюдать Правила, а также законодательство стран Пользователей Сайта, при пользовании Сайтом ознакомиться со всей информацией юридического характера, размещенной на Сайте или доступной на нем посредством ссылок;</p>
    <p>регулярно проверять анонсы Компании в отношении внесения изменений в Правила;</p>
    <p>при несогласии с Правилами, а также анонсируемыми Компанией изменениями к ним, покинуть Сайт.</p>

    <p>6.3. Пользователю Сайта наряду своими новостями и публикациями рекомендуется публиковать на Сайте информацию и способствовать ее развитию, которая:</p>
    <p>содержит пропаганду биоорганических продукций;</p>
    <p>содержит призыв к защите окружающей среды, животных и дикой природы;</p>
    <p>призывает вести здоровый образ жизни, пропагандирует правильное питание;</p>
    <p>описывает новые технологии, научные открытия, возобновляемые источники энергии и образовательные программы;</p>
    <p>раскрывает кулинарные рецепты и национальные кухни;</p>
    <p>раскрывает методы озеленения и ландшафтного дизайна;</p>
    <p>пропагандирует народное творчество и эко-туризм.</p>

    <p>6.4. Пользователю Сайта  запрещается публиковать и распространять на Сайте любую информацию, которая:</p>
    <p>содержит рекламу всех видов спиртных напитков, энергетических напитков и табачных изделий;</p>
    <p>содержит рекламу огнестрельного оружия, химического и биологического оружия</p>
    <p>содержит политическую рекламу, рекламу экстрасенсов, финансовые пирамиды, интим услуг и ЛГБТ сообществ;</p>
   <p>содержит угрозы, дискредитирует, оскорбляет, порочит честь и достоинство или деловую репутацию, или нарушает неприкосновенность частной жизни других Пользователей Сайта или третьих лиц;</p>
    <p>нарушает права несовершеннолетних лиц;</p>
    <p>содержит нецензурную лексику, тексты или сцены сексуального характера;</p>
    <p>содержит сцены насилия либо бесчеловечного обращения с животными;</p>
    <p>содержит описание средств и способов суицида, а также любое подстрекательство к его совершению;</p>
    <p>пропагандирует и/или способствует разжиганию расовой, религиозной, этнической ненависти или вражды, пропагандирует фашизм или идеологию расового превосходства;</p>
    содержит экстремистские материалы;</p>
    <p>пропагандирует преступную деятельность или содержит советы, инструкции или руководства по совершению преступных действий;</p>
    <p>содержит информацию ограниченного доступа, включая, но не ограничиваясь, государственной и коммерческой тайной, информацией о частной жизни третьих лиц;</p>
    <p>содержит рекламу или описывает привлекательность употребления наркотических и психотропных веществ, информацию о распространении наркотиков, рецепты их изготовления и советы по употреблению;</p>
    <p>носит мошеннический характер;</p>
    <p>нарушает права третьих лиц на результаты интеллектуальной деятельности;</p>
    <p>нарушает права субъектов персональных данных;</p>
    <p>нарушает иные права и интересы граждан и юридических лиц или требования законодательства стран Пользователей Сайта.</p>

    <p>6.5. Пользователям Сайта категорически запрещается:</p>
    <p>осуществлять массовые рассылки сообщений без согласия других Пользователей Сайта;</p>
    <p>использовать программное обеспечение и осуществлять действия, направленные на нарушение нормального функционирования Сайта;</p>
    <p>публиковать и распространять на Сайте вирусы, трояны и другие вредоносные программы;</p>
    <p>осуществлять иные действия, которые могут нанести вред Сайту, Компании и Пользователям.</p>

    <p><b>7. Права и обязанности Компании</b></p>
    <p>7.1. Компания предоставляет Пользователям Сайта технические возможности для пользования Сайтом.</p>

    <p>7.2. Компания имеет право обрабатывать Персональные Данные Пользователей Сайта.</p>

   <p>7.3. Компания обязуется рассматривать уведомления, направленные через форму обратной связи. Наш адрес: 720020, Кыргызская Республика, город Бишкек, ул. Т. Саманчина, 6. Тел.:+996 702 405 527. E-mail: info@agroov.com.</p>

    <p>7.4. Несмотря на то, что Компания старается предоставлять точную информацию на Сайте, Компания не несет никакой ответственности за точность информации, размещенной на Сайте. Ответственность за сроки продаж, размер заявленных скидок, качество товара/услуги, а также наличие товаров и т.п. несет автор информации, Пользователь Сайта.</p>

    <p>7.5. Вся информация, представленная на Сайте, идет под знаком «как есть» («as is») с возможными ошибками, без гарантий любого вида, прямо выраженных или подразумеваемых. Компания не предоставляет никаких гарантий в отношении информации, размещенной на Сайте. Компания не несет ответственности за какие-либо непрямые, прямые, фактические или косвенные убытки, включая упущенную выгоду, в результате использования размещенной на Сайте информации, даже если Компания была предупреждена о возможности подобных убытков.</p>

    <p><b>8. Изменения</b></p>
    <p>8.1. Компания вправе вносить изменения в данные Правила. Изменения будут опубликованы на веб-сайте www.agroov.com, а также, при необходимости, в других источниках Компании. Изменения будут распространяться, в том числе на тех лиц, которые являются Пользователями Сайта на момент вступления в силу изменений. Изменения начнут действовать с момента их публикации на сайте www.agroov.com.</p>
    </p>
    <div class="uk-text-center"><a href="/"><b>На главную</b></a></div>
</div>
{% include 'footer.html.twig' %}
{% endblock%}
