<div ng-show="show" class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="ratio: 12:1; animation: push;autoplay:true;"> 
     <ul class="uk-slideshow-items">
        {% for topbanner in topbanners%}
        <li>
            <a class="uk-position-cover" href="{{topbanner.url}}">
                <img src="/images/verh-new/{{topbanner.images}}" alt="" uk-cover>
            </a>
        </li>
        {% endfor %}
    </ul>       
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

</div>
